<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable= yes, minimum-scale= 1.0, maximum-scale= 2.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Photo Amateur | Landscapes</title>

   <link rel="shortcut icon" href="../img/camera-icon.jpg" type="image/x-icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
   <link rel="stylesheet" href="../css/style.css">

</head>
<body>
   <div role="header">
      <header class="container">
         <div class="header">
            <img src="../img/camera-icon.jpg" alt="icon">
            <h2>Photographies | Landscapes</h2>
         </div>
         <nav>
            <ul>
               <li><a href="../index.html">Home</a></li>
               <li><a href="#" class="active">Landscapes</a></li>
               <li><a href="./retratos.html">Pictures</a></li>
            </ul>
         </nav>
      </header>
   </div>

   <div role="main">
      <main class="container_LS">
         <section id="img_L1">
            <img src="../img/landscape1.jpg" alt="Landscape Photo 1">
         </section>

         <section id="img_L2">
            <img src="../img/landscape2.jpg" alt="Landscape Photo 2">
         </section>

         <section id="img_L3">
            <img src="../img/landscape3.jpg" alt="Landscape Photo 3">
         </section>

         <section id="img_L4">
               <img src="../img/landscape2.jpg" alt="Landscape Photo 1">
            </section>
   
            <section id="img_L5">
               <img src="../img/landscape3.jpg" alt="Landscape Photo 2">
            </section>
   
            <section id="img_L6">
               <img src="../img/landscape1.jpg" alt="Landscape Photo 3">
            </section>
      </main>
   </div>

   <div role="footer">
      <footer class="container">
         <div id="footer_1">
            <p>Phone: (+505) 8182 4567 <br>
            Address: Linda Vista, de los semáforos 3c al sur, 1.5c al oeste. <br>
               <a href="mailto:andre.rlucas@outlook.com" title="andre.rlucas@outlook.com">
                  <i class="fa fa-envelope"></i> Contact me !
               </a>
               <br>
               <a href="https://github.com/AndlerRL">
                  <i class="fa fa-github" title="Repositories"></i>
               </a>
               <a href="https://facebook.com/Megalife1294" title="Facebook Profile">
                  <i class="fa fa-facebook"></i>
               </a>
               <a href="https://twitter.com/AndlerRL" title="Twitter Profile">
                  <i class="fa fa-twitter"></i>
               </a>
            </p>
         </div>
         <div id="footer_2">
            <p><strong>Terms & Conditions</strong><br><span id="info"> Know our policies!</span></p>
            
            <p>Roberto Lucas.<br> All Rights Reserved ©2018.</p>
            
         </div>
      </footer>
   </div>
</body>
</html>